.container {
  display: flex;
  gap: 10px;
}

.box {
  width: 100px;
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.name {
  background-color: violet;
}

.rgb {
  background-color: rgb(15, 209, 12);
}

.rgba {
  background-color: rgba(2, 223, 194, 0.396);
}

.hsl {
  background-color: hsl(209, 100%, 57%);
}

.hsla {
  background-color: hsla(249, 100%, 41%, 0.33);
}
