.p--1 {
  font-size: 0.75em;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.p--2 {
  font-size: 20px;
  font-weight: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
}

.p--3 {
  font-size: 9pt;
  font-weight: 300;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: oblique;
}

.p--4 {
  font-size: 1em;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique 10deg;
}


.p--5 {
  font-size: larger;
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: inherit;
}