/* Border Solid */
.box1 {
  border: 3px solid red;
  padding: 10px;
  margin: 10px;
}

/* Border Dashed */
.box2 {
  border: 3px dashed blue;
  padding: 10px;
  margin: 10px;
}

/* Border dengan Radius */
.box3 {
  border: 3px solid green;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
}