body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSX9R9qeanfxjMODGRgK_Lx9pgzgwgZ7zEmwQ&s");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  text-align: center;
}

.container {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  text-align: justify;
  padding: 0.25rem 1rem;
  border-radius: 10px;
}